.subButton {
  background: #0061FF;
  background-image: -webkit-linear-gradient(top, #0061FF, #000000);
  background-image: -moz-linear-gradient(top, #0061FF, #000000);
  background-image: -ms-linear-gradient(top, #0061FF, #000000);
  background-image: -o-linear-gradient(top, #0061FF, #000000);
  background-image: -webkit-gradient(to bottom, #0061FF, #000000);
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
  border-radius: 39px;
  color: #424554;
  font-family: Verdana;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  -webkit-box-shadow: inset 0 0 66px 30px #000000;
  -moz-box-shadow: inset 0 0 66px 30px #000000;
  box-shadow: inset 0 0 66px 30px #000000;
  text-shadow: 3px 3px 4px #FFFFFF;
  border: inset #000000 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.subButton:hover {
  background: #1A2A87;
  border: inset #0059A0 5px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-decoration: none;
}

/* <a href="#" class="subButton"></a> */