@media (max-width: 992px)
{
  footer
  {
    height: 50px;
  }
}

body
{
  background-color: #BEBDBF;
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  margin: 0 0 0 0;
  text-align: center;
}

footer i
{
  height: 25px;
}

/* width */
::-webkit-scrollbar
{
  width: 15px;;
}

/* track */
::-webkit-scrollbar-track
{
  background: black;
}

/* handle */
::-webkit-scrollbar-thumb
{
  background: #F2AA52;
}

.znoobNav li
{
  padding: 10px 10px;
}

hr
{
  border: #F2AA52 5px;
  border-style: dotted none none;
  height: 10px;
  width: 10%;
}

.lineExtension
{
  border-bottom: #F2AA52;
  border-width: 100px;
  height: 10px;
}

.main
{
  background-image: url("../images/Black_Polygon.png");
  color: #F2AA52;
  margin: 0 auto 0 auto;
  padding: 10% 10%;
}

.main h1
{
  /*
  font-family: acier-bat-noir, sans-serif;
  */
  font-family: "ArlingtonRegular", Georgia, serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  margin: 50px auto 100px auto;
}

.main p
{
  font-size: 1.5rem;
  font-style: normal;
  /*
  margin: 50px auto 0 auto;
  */
}

.sub1
{
  /*background-color: #D95323;*/
  background-image: url("../images/Orange_Polygon.png");
  color: antiquewhite;
  font-size: 1.5rem;
  font-style: normal;
  margin: 0 auto;
  padding: 150px 0;
}

.sub1 h1
{
  margin: 0 0 70px 0;
}

.sub1 p
{
  font-size: 1.5rem;
  margin: 70px 0 0 0;
  padding: 25px;
}

.sub1 a
{
  font-size: 1.5rem;
  font-style: normal;
  margin: 0 10px 0 10px;
}

.sub1 a[href^="https"]::before
{
  content: "🔗 ";
}

.skills
{
  background-image: url("../images/Yellow_Polygon.png");
  color: antiquewhite;
  font-style: normal;
  margin: 0 auto;
  padding: 10% 0;
}

.skills h2
{
  margin: 50px auto;
}

.skills-table
{
  margin: 70px auto;
}

.skills-table ul
{
  margin: 0 25px 0 auto;
  list-style-type: none;
}

.skills-table hr
{
  margin-top: 20px;
}

.project
{
  background-image: url("../images/Light_Gray.png");
  font-style: normal;
  color: antiquewhite;
  /*margin: 50px auto;*/
  padding: 10% 0;
}

.project-table
{
  margin: 70px auto;
}

.project-table ul
{
  list-style-type: none;
  margin: 0 25px 0 auto;
}

.project-table hr
{
  margin-top: 20px;
  width: 6rem;
}

.contact
{
  background-color: rgb(46, 45, 45);
  color: antiquewhite;
  padding: 15px 0;
}
