body {
  background-color: hsla(0, 0%, 0%, 0.95);
  color: azure;
}

hr {
  border-style: dotted none none none;
  border-color: antiquewhite;
  border-width: 5px;
  height: 5px;
  width: 7.5%;
}

h1 {
  color: azure;
}
